#Onyx Specific

#DatabaseSettings.ini
#AlgoGenResults.csv
#SyncrunLog.txt
#Elmah.Errors/
App_Data/
_references.js

# Javascript files for typescript files/folders
Onyx.Web/Scripts/App/SetupTimes/**/*.js
Onyx.Web/Scripts/App/InformationLog/**/*.js
Onyx.Web/Scripts/App/CustomBindings/**/*.js
Onyx.Web/Scripts/App/Enums/**/*.js
Onyx.Web/Scripts/App/ErrorHandling/**/*.js
Onyx.Web/Scripts/App/AuthenticatedUser/**/*.js
Onyx.Web/Scripts/App/Utilities/**/*.js
Onyx.Web/Scripts/App/UserSettings/**/*.js
Onyx.Web/Scripts/App/Search/**/*.js
Onyx.Web/Scripts/App/Plan/**/*.js
Onyx.Web/Scripts/App/MachineFilter/**/*.js
Onyx.Web/Scripts/App/Hub/**/*.js
Onyx.Web/Scripts/App/LogMessages/**/*.js
Onyx.Web/Scripts/App/ContextMenu/**/*.js
Onyx.Web/Scripts/App/DisplayModes/**/*.js
Onyx.Web/Scripts/App/ConstraintSelector/**/*.js
Onyx.Web/Scripts/App/Data/**/*.js
Onyx.Web/Scripts/App/TaskList/**/*.js
Onyx.Web/Scripts/App/Gantt/**/*.js
Onyx.Web/Scripts/App/Gantt/**/*.js.map
Onyx.Web/Scripts/App/**/*.map

# Webpack compile results
*.bundle.js
Onyx.Web/Build

# Onyx.Web files to ignore
Onyx.Web/Views/**/Index.cshtml
Onyx.Web/Views/Shared/_HelpLayout.cshtml
Onyx.Web/Views/Shared/AccessDenied.cshtml
Onyx.Web/Views/Shared/AccessExpired.cshtml
Onyx.Web/Views/Shared/Error.cshtml
/Onyx.Web/.tmp-globalize-webpack/dev-i18n-data.js
/Onyx.Web/package-lock.json
/Onyx.Web/b06871f281fee6b241d60582ae9369b9.ttf
/Onyx.Web/acf3dcb7ff752b5296ca23ba2c7c2606.svg
/Onyx.Web/674f50d287a8c48dc19ba404d20fe713.eot
/Onyx.Web/Web.mine.config
/Onyx.Web/.tmp-globalize-webpack
/Onyx.Web/npm-debug.log.*

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in/
[Oo]bj/

# Visual Studio 2015 cache/options directory
.vs/

# mstest test results
TestResults

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.sln.docstates
gulpfile.js

# Build results
[Dd]ebug/
[Rr]elease/
x64/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds
Scripts-Build

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*

# NCrunch
_NCrunch_*/
nCrunchTemp_*
*.ncrunch*
.*crunch*.local.xml

# Installshield output folder
[Ee]xpress

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Publish Web Output
*.Publish.xml

# NuGet Packages Directory
packages

# Node Packages Directory
node_modules

# Bower Packages Directory
bower_components

# Yarn file
yarn.lock

# Js Unit Test Reports
_reports

# Windows Azure Build Output
csx
*.build.csdef

# Windows Store app package directory
AppPackages/

#Generated web.config file
Web.config

#Personal web.config files
Web.mine.config
Web.*.mine.config

# Others
[Bb]in
[Oo]bj
sql
TestResults
[Tt]est[Rr]esult*
*.Cache
ClientBin
[Ss]tyle[Cc]op.*
~$*
*.dbmdl
Generated_Code #added for RIA/Silverlight projects

# report files from converting an old project file to a newer
# Visual Studio version.
_UpgradeReport_Files/
UpgradeLog*.XML

# In the Apple macOS operating system, .DS_Store is a file that stores custom attributes of its containing folder.
.DS_Store
/Onyx.Web/Scripts/App/Utilities/DialogHelper.amd.js
/OutDir

# Do not include vscode debugging in repo
.vscode/chrome
.vscode/settings.json
.vscode/iisexpress.json

# Global package-lock in case it is created
package-lock.json
